body {
	margin: 0;
	padding: 0;
	color: #020202;
	background: #F2F2F2;
	line-height: 150%;
	font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica,
		sans-serif;
	font-size: 10pt;
	width: 100%;
}

table {
/*border: solid black 1pt;*/
}

/* Additional styles for map.jsp page only */
label {
	font-size: 10pt;
	float: left;
	width: 70pt;
	padding-right: 2px;
}

input {
	font-size: 9pt;
	width: 150pt;
	padding-left: 0pt;
	padding: 1px;
}

select {
	font-size: 9pt;
	width: auto;
}

option {
	font-size: 9pt;
	width: auto;
}

#leftcolumn {
	vertical-align: top !important;
	width: 515px !important;
	padding-top: 3pt !important;
}

#rightcolumn {
	vertical-align: top;
	width: 335pt;
	padding-top: 0pt;
}

#maparea {
	
}

#map {
	
}

.smallmap {
	width: 512px;
	height: 256px;
	border: 1px solid #ccc;
}

#scalebar {
	padding-right: 10px;
	padding-top: 10px;
	float: left;
}

#scale {
	float: left;
}

#mouseloc {
	/*float: right;*/
	
}

#note {
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px
}

#station_form {
	border-style: solid;
	border-width: 0px;
	padding: 5px;
	position: static;
	background: #F2F2F2;
	width: 330pt;
}

#dataset {
	width: 250pt;
	background: #ddffdd;
	padding-left: 5px;
	padding-top: 5pt;
	padding-bottom: 5px;
	width: 330pt;
}

#inputs {
	position: static
}

#station {
	padding-left: 5px;
	background: #d0d0d0;
	position: static;
	float: left;
	width: 330pt;
}

#params {
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 5px;
	background: #ddffdd;
	position: static;
	float: left;
	width: 330pt;
}

#submitarea /* This is <DIV ID=submitarea> */ {
	clear: both;
	position: static;
	width: 330pt;
	background: #d0d0d0;
	padding-top: 10pt;
	padding-bottom: 10pt;
	padding-left: 5px;
}

#submitbutton {
	
}

#myForm_0 /* This is the ID Struts gives to the "submit" button */ {
	font-size: 8pt;
	background: lightblue;
	width: 100pt;
	margin-left: 70pt;
	/*border: 1px solid blue;
	border-top: 1px solid blue;*/
}

#errorMsg {
	padding-left: 20px;
}

/* For the map */
.olControlAttribution {
	bottom: 0px !important
}

/* avoid pink tiles */
.olImageLoadError {
	background-color: transparent !important;
}

.maptable {
	
}

.maptable tr {
	
}

.maptable td {
	
}